main {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 150px;
    margin-top: 5px;
}

.logo {
    width: 13%;;
}

.brand-logo {
    width: 50%;
    justify-content: flex-start;
}

hr {
    width: 100%;
    border: 2px solid #7d97ad;
}

.title {
    width: 50%;
    justify-content: flex-end;
}

h1, p {
    text-transform: uppercase;
    text-align: end;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bold;
    margin-top: 7px;
}

h1 {
    font-family: 'Comfortaa', cursive;
    font-size: 40px;
    margin: 5px 0 0 0;
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Grande', sans-serif;
    font-size: 30px;
    color: #7d97ad;
}
.main-image img{
    width: 100%;
    margin: 15px 0;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
}

.main-content section{
    width: 32%;
    text-align: center;
}

.main-content section:nth-child(2) {
    padding-right: 2%;
    padding-left: 2%;
}

.main-content img {
    width: 100%;
}

section a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: #2d3c49;
    font-size: 35px;
}
  
@media (min-width: 320px) and (max-width: 576px) {
    
    html, body {
        overflow-x: hidden;
        margin: 0;
    }

    main {
        width: 100%;
    }
    
    header {
        height: 65px;
        margin-top: 16px;
        padding: 0 10px;
    }
    
    .logo {
        width: 30%;;
    }
    
    .brand-logo {
        width: 45%;
    }
    
    .title {
        width: 55%;
    }
    
    p {
        font-size: 14px;
        margin-top: 7px;
    }
    
    h1 {
        font-size: 20px;
        margin: 5px 0 0 0;
    }
    
    h2 {
        font-size: 25px;
        text-align: center;
        width: 100%;
    }


    .main-image img {
        margin: 0;
    }
    
    .main-content section{
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .main-content section:nth-child(2) {
        padding-right: 0;
        padding-left: 0;
    }
    
    .main-content img {
        width: 100%;
    }

    section a {
        font-size: 25px;
    }
    
  }

  @media (min-width: 577px) and (max-width: 991px) {
    main {
        width: 90%;
    }
    
    header {
        height: 100px;
    }
    
    .logo {
        width: 20%;;
    }
    
    p {
        font-size: 20px;
        margin-top: 7px;
    }
    
    h1 {
        font-size: 28px;
        margin: 5px 0 0 0;
    }
    
    h2 {
        font-size: 28px;
        width: 100%;
        text-align: center;
    }
    
    .main-content section{
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .main-content section:nth-child(2) {
        padding-right: 0;
        padding-left: 0;
    }
    
    .main-content img {
        width: 100%;
    }
    
    section a {
        font-size: 25px;
    }

   }
   