main {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 150px;
    margin-top: 5px;
}

.logo {
    width: 15%;;
}

.brand-logo {
    width: 60%;
    justify-content: flex-start;
}

hr {
    width: 100%;
    border: 2px solid #7d97ad;
}

.title {
    width: 40%;
    justify-content: flex-end;
}

h1, p {
    text-transform: uppercase;
    text-align: end;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bold;
    margin-top: 7px;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    margin: 5px 0 0 0;
}